<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>AdeptJ Login</title>
		<link rel="stylesheet" type="text/css" href="/admin/static/styles/login.css">
	</head>
		<body>
			<div class="login-bg">
				<div class="login-card">
				    <h1>Welcome!</h1>
				    <div class="sep-top"></div>
				    <form method="post" name="loginForm" action="/auth/j_security_check">
				            <div class="group">
				                <input type="text" placeholder="Username" maxlength="10" name="j_username" value="{{j_username}}" autofocus="autofocus" required ><span class="bar"></span>
				            </div>
				            <div class="group">
				                <input type="password" placeholder="Password" maxlength="30" name="j_password" autocomplete="off" required ><span class="bar"></span>
				            </div>
				           	<span class="validation-error">{{validation}}</span>
				        	<button type="submit" class="button buttonBlue">Login</button>
				    </form>
				
				</div>
			</div>
		</body>
</html>