*.class
/target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
dependency-reduced-pom.xml
deployment/log
.idea
adeptj-runtime.iml
deployment
target_swiftype
*.pem
*.prefs
.classpath
.project
.DS_Store
.factorypath
/.apt_generated/
/.apt_generated_tests/
target
