<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="/static/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/error-page.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <meta content="#fafafa" name="theme-color">
</head>
<body>
    <main class="page-container error" role="main">
        <div class="row">
            <div class="container">
                <div class="col-12">
                    <div class="page-error-message wrapper-middle align-items-center text-center">
                        <h1 class="error-code">403</h1>
                        <p class="message-detail">Forbidden</p>
                        <a href="/" class="btn btn-adeptj-primary" type="submit">Go To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>