###############################################################################
#                                                                             #
#    Copyright 2016, AdeptJ (http://www.adeptj.com)                           #
#                                                                             #
#    Licensed under the Apache License, Version 2.0 (the "License");          #
#    you may not use this file except in compliance with the License.         #
#    You may obtain a copy of the License at                                  #
#                                                                             #
#        http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                             #
#    Unless required by applicable law or agreed to in writing, software      #
#    distributed under the License is distributed on an "AS IS" BASIS,        #
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. #
#    See the License for the specific language governing permissions and      #
#    limitations under the License.                                           #
#                                                                             #
###############################################################################

# Default settings for AdeptJ Runtime load balancing Using HAProxy
# Please update as per your needs.

global
    # daemon
    # log 127.0.0.1 local2
    # log global
    # option httplog
    # option dontlognull
    # pidfile /var/run/haproxy.pid
    maxconn 10240
    hard-stop-after 30s

defaults
    mode http
    # log 127.0.0.1 local0
    # log global
    # option httplog
    # option dontlognull
    # Insert X-Forwarded-For header
    option forwardfor
    option http-keep-alive
    timeout http-request 15s
    timeout connect 15s
    timeout server 30s
    timeout client 30s

listen stats
    bind *:1936
    maxconn 10
    timeout queue 100s
    stats enable
    stats uri /
    stats hide-version
    stats realm HAProxy\ Statistics
    stats refresh 30s
    stats show-node
    # Please change the credentials below as per your need.
    stats auth admin:HaPr0xyS3cr3t

frontend www-haproxy
    bind :80
    # bind *:443 ssl crt my.crt
    # mode http
    # option httplog
    # log global
    # compression algo gzip
    # compression type application/json text/html text/plain text/javascript application/javascript application/xml text/css
    # acl is_stats path_beg /ha-stats
    default_backend adeptj-runtime-nodes

backend adeptj-runtime-nodes
    # mode http
    balance roundrobin
    option httpchk HEAD /health
    http-check expect status 200
    # For stickiness, use cookie set by HAProxy and use below mentioned cookie and server declarations
    # cookie SERVERID insert indirect nocache httponly
    # server AdeptJ_RT_Node1 localhost:8080 maxconn 5000 cookie AdeptJ_RT_Node1 check
    # Add an entry for each of your backend servers and their resolvable hostnames
    server AdeptJ_RT_Node1 localhost:8080 maxconn 5000 check inter 60s downinter 30s fall 3 rise 3
    server AdeptJ_RT_Node2 localhost:8081 maxconn 5000 check inter 60s downinter 30s fall 3 rise 3
    server AdeptJ_RT_Node3 localhost:8082 maxconn 5000 check inter 60s downinter 30s fall 3 rise 3
