body {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.login-bg {
	font-family: 'Lato', sans-serif;
	background-color: #231D1D ;
	background-image: url('/static/img/login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	height: 100%;
	width: 100%;
	position: absolute;
}

.login-card {
	width: 100%;
	max-width: 250px;
	height: 210px;
	background-color: rgba(248, 250, 255, 0.39);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1), 0 16px 20px -8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1), 0 24px 38px -16px rgba(0, 0, 0, 0.2);
	border: none;
	padding: 39px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 12px;
}

body form {
	margin: 5px 5px;
}

body h2 {
	font-weight: 550;
	font-size: 19px;
	padding: 0px;
	margin-top: 15px;
	margin-bottom: -5px;
	margin-left: -9px;
	text-align: left;
	color: rgba(89, 87, 90, 0.86);
}

.sep-top {
	width: 100%;
	height: 10px;
	background: transparent;
}


/* form, inputs and submit */

.login-card .group {
	position: relative;
	margin-bottom: 10px;
	line-height: normal;
}

.login-card .group input {
	font-size: 12px;
	font-weight:600;
	padding: 8px 0px 8px 0px;
	-webkit-appearance: none;
	display: block;
	color: #1e1e1e;
	width: 100%;
	border: none;
	border-radius: 3px;
	margin-left: -9px;
}

.login-card .user-icon input {
	background: rgba(239, 239, 239, 0.69) url('/static/img/user.png') left no-repeat;
	padding-left: 18px;
}

.login-card .lock-icon input {
	background: rgba(239, 239, 239, 0.69) url('/static/img/lock.png') left no-repeat;
	padding-left: 18px;
}


.login-card .group input:focus {
	outline: none;
}

.login-card .error {
    position: relative;
	padding: 5px;
	text-align: center;
	line-height: 46px;
	letter-spacing: 0.5px;
	font-family: 'Lato', sans-serif;
	margin-left: 30px;
	font-size: 14px;
	color: rgba(224, 24, 33, 1);
}

.button {
	position: relative;
	display: inline-block;
	padding: 0 12px;
	height: 28px;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	line-height: 22px;
	margin-top: 10px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	letter-spacing: 1px;
	background: transparent;
	border: 0;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
	float: left;
	margin-left: -9px;
}

.button:focus {
	outline: 0;
}

.button:hover {
	background: rgba(52, 90, 124, 0.68);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
}


/* Button modifiers */

.buttonBlue {
	background: rgba(55, 52, 84, 0.8);
}

.buttonBlue:hover {
	background: rgba(92, 91, 112, 0.85);
}