h1, h2, h3, h4, h5, h6, p {
  color: #555;
}

.login-form {
  margin-top: 3em;
  width: 100%;
}

body {
    background: #f2f2f2;
}

.form-group {
    margin-bottom: 2rem;
}

.wrapper-middle {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  padding: 77px 55px 33px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.main-logo img {
  width: auto;
  height: 100%;
  margin: auto;
  display: block;
}

.main-logo img {
  width: auto;
  height: 150px;
}

.form-control {
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #24245F;
  border-radius: 0px;
}

.form-control:focus {
  border-bottom: 1px solid #FF8300;
  box-shadow: none
}


.btn-adeptj-primary {
  background: #FF9A00;
  color: #fff;
  width: 100%;
  border: 1px solid #FF8300;
  padding: 10px 30px;
  transition: 0.3s;
}

span.error {
  color: #FF5900;
}

.btn-adeptj-primary.focus, .btn-adeptj-primary:focus {
  box-shadow: none
}

.btn-adeptj-primary:hover, .btn-adeptj-primary:focus {
  color: #fff;
  background: #F28600;
  border-color: #F28600;
}