<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{msg "403.page.title.msg"}}</title>
    <link rel="stylesheet" href="/static/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/error-page.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <meta content="#fafafa" name="theme-color">
</head>
<body>
<main class="page-container error" role="main">
    <div class="row">
        <div class="container">
            <div class="col-12">
                <div class="page-error-message wrapper-middle align-items-center text-center">
                    <h1 class="error-code">{{msg "403.page.error.code.msg"}}</h1>
                    <p class="message-detail">{{msg "403.page.error.details.msg"}}</p>
                    <a href="/" class="btn btn-adeptj-primary" type="submit">{{msg "go.to.home.msg"}}</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>